<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Title -->
    <title>{{site.data.resume.title}}</title>
    <!-- Encoding -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Viewport width and initial-scale on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#e0e6e9">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#e0e6e9">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#e0e6e9">
    <!-- end mobile tab color -->

    <!-- Font Ukie -->
    <link type="text/css" media="all" href="assets/font/font-ukie/css/font-ukie.css" rel="stylesheet">
    <!-- include the bootstrap stylesheet -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <!-- include magnific-popup stylesheet -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="assets/css/color-one.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="shortcut icon" href="assets/img/favicons/apple-touch-icon.png">
  </head>

  <body data-spy="scroll" data-target="#menu">

    <!-- Start header -->
    <header class="header default-section" id="navhead">

      <!-- Start  container-->
      <div class="container">

        <!-- Start row-->
        <div class="row text-center">
          <div class="col-md-5 inline-div">
            <h1 class="header-title">
                    <a href="#" class="photo-icon"><i class="uf uf-camera"></i></a>
                    {{site.data.resume.h1}}
                    <!-- Start shadow modal-->
                    <span class="popup-photo">
                        <span class="shadow-popup"></span>
                        <span class="popup-place">
                            <i class="btn-close uf uf-close-small"></i>
                            <img src="assets/img/photo.jpg" alt="">
                            <span class="popup-text">{{site.data.resume.greet}}</span>
                        </span>
                    </span>
                    <!-- End shadow modal-->
                </h1>
          </div>
        </div>
        <!-- End  row-->

        <!-- Start row-->
        <div class="row menu">
          <div class="col-md-12">
            <div class="mob-menu">
              <ul>
                <li>
                  <a href="#navabout"><img src="assets/img/menu-about.svg" alt="">
                    <p class="menu-text">{{site.data.resume.about.title}}</p>
                  </a>
                </li>
                <li>
                  <a href="#navresume"><img src="assets/img/menu-resume.svg" alt="">
                    <p class="menu-text">{{site.data.resume.resume.title}}</p>
                  </a>
                </li>
                <li>
                  <a href="#navportfolio"><img src="assets/img/menu-portfolio.svg" alt="">
                    <p class="menu-text">{{site.data.resume.portfolio.title}}</p>
                  </a>
                </li>
                <li>
                  <a href="#navblog"><img src="assets/img/menu-blog.svg" alt="">
                    <p class="menu-text">{{site.data.resume.blog.title}}</p>
                  </a>
                </li>
                <li>
                  <a href="#navcontact"><img src="assets/img/menu-contacts.svg" alt="">
                    <p class="menu-text">{{site.data.resume.contacts.title}}</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End  row-->

        <!-- Start row-->
        <div class="row menu">
          <div class="col-md-12">
            <div id="menu" class="mob-menu default-menu">
              <!-- Start ul-->
              <ul class="nav" role="tablist">
                <li>
                  <a href="#navhead">Head</a>
                </li>
                <li>
                  <a href="#navabout">{{site.data.resume.about.title}}</a>
                </li>
                <li>
                  <a href="#navresume">{{site.data.resume.resume.title}}</a>
                </li>
                <li>
                  <a href="#navportfolio">{{site.data.resume.portfolio.title}}</a>
                </li>
                <li>
                  <a href="#navblog">{{site.data.resume.blog.title}}</a>
                </li>
                <li>
                  <a href="#navcontact">{{site.data.resume.contacts.title}}</a>
                </li>
              </ul>
              <!-- End ul-->
            </div>
          </div>
        </div>
        <!-- End  row-->

        <!-- Start row-->
        <div class="row socials">
          <div class="col-md-12">
            <a href="#navabout" class="uf uf-arrow-angle-down-small"></a>
          </div>
        </div>
        <!-- End row-->

      </div>
      <!-- End  container-->

    </header>
    <!-- End header -->

    <!--Start section  About -->
    <section id="navabout" class="about-section default-section">
      <!-- Start container-->
      <div class="container">
        <!-- Start row-->
        <div class="row">
          <div class="col-md-12">
            <img src="assets/img/about.svg" class="section-img" alt="">
            <h2 class="section-title">{{site.data.resume.about.title}}</h2>
          </div>
        </div>
        <!-- End row-->
        <!-- Start row-->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <h3>{{site.data.resume.about.myInformation.title}}</h3>
            <!-- Start about-info-->
            <p class="about-info">
              {{site.data.resume.about.myInformation.name.key}}
              <span>{{site.data.resume.about.myInformation.name.value}}</span>
            </p>
            <!-- End about-info-->
            <!-- Start about-info-->
            <p class="about-info">
              {{site.data.resume.about.myInformation.dateOfBirth.key}}
              <span>{{site.data.resume.about.myInformation.dateOfBirth.value}}</span>
            </p>
            <!-- End about-info-->
            <!-- Start about-info-->
            <p class="about-info">
              {{site.data.resume.about.myInformation.email.key}}
              <span>{{site.data.resume.about.myInformation.email.value}}</span>
            </p>
            <!-- End about-info-->
            <!-- Start about-info-->
            <p class="about-info">
              {{site.data.resume.about.myInformation.address.key}}
              <span>{{site.data.resume.about.myInformation.address.value}}</span>
            </p>
            <!-- End about-info-->
            <!-- Start about-info-->
            <p class="about-info">
              {{site.data.resume.about.myInformation.phone.key}}
              <span>{{site.data.resume.about.myInformation.phone.value}}</span>
            </p>
            <!-- End about-info-->
            <!-- Start about-info-->
            <p class="about-info">
              {{site.data.resume.about.myInformation.website.key}}
              <span>{{site.data.resume.about.myInformation.website.value}}</span>
            </p>
            <!-- End about-info-->
          </div>
          <div class="col-md-4">
            <h3>{{site.data.resume.about.personalStatement.title}}</h3>
            <!-- Start hello text top-->
            <p class="text-big">{{site.data.resume.about.personalStatement.content}}</p>
            <!-- End hello text top-->
          </div>

        </div>
        <!-- End row-->
        <!-- Start row-->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-sm-6 col-md-4 text-right">
            <a href="" class="btn-site btn-download">Download resume</a>
          </div>
          <div class="col-sm-6 col-md-4 ">
            <a href="" class="btn-site btn-print">Print resume</a>
          </div>
          <div class="col-md-2"></div>
        </div>
        <!-- End row-->
      </div>
      <!-- End Container-->
    </section>
    <!--End Section About -->

    <!--Start section Resume -->
    <section id="navresume" class="resume-section default-section">
      <!-- Start container-->
      <div class="container">
        <!-- Start row-->
        <div class="row">
          <div class="col-md-12">
            <img src="assets/img/resume.svg" class="section-img" alt="">
            <h2 class="section-title">Resume</h2>
          </div>
        </div>
        <!-- End row-->
        <!-- Start row-->
        <div class="row skills-block">
          <h3 class="text-center">Professional skills </h3>
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <!-- Start Progress-wrapper -->
            <div class="progress-wrapper skillbar" data-percent="98">
              <label class="progress-bar-label">WordPress</label>
              <span class="progress-bar-number">80%</span>
              <!-- Start Progress -->
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <!-- End Progress -->
            </div>
            <!-- End Progress-wrapper -->
            <!-- Start Progress-wrapper -->
            <div class="progress-wrapper">
              <label class="progress-bar-label">HTML &amp; CSS</label>
              <span class="progress-bar-number">92%</span>
              <!-- Start Progress -->
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <!-- End Progress -->
            </div>
            <!-- End Progress-wrapper -->
            <!-- Start Progress-wrapper -->
            <div class="progress-wrapper">
              <label class="progress-bar-label">PHP</label>
              <span class="progress-bar-number">75%</span>
              <!-- Start Progress -->
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <!-- End Progress -->
            </div>
            <div class="col-md-3"></div>
            <!-- End Progress-wrapper -->
          </div>
          <div class="col-md-4">
            <!-- Start Progress-wrapper -->
            <div class="progress-wrapper">
              <label class="progress-bar-label">Java Script</label>
              <span class="progress-bar-number">78%</span>
              <!-- Start Progress -->
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <!-- End Progress -->
            </div>
            <!-- End Progress-wrapper -->
            <!-- Start Progress-wrapper -->
            <div class="progress-wrapper">
              <label class="progress-bar-label">photoshop</label>
              <span class="progress-bar-number">87%</span>
              <!-- Start Progress -->
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <!-- End Progress -->
            </div>
            <!-- End Progress-wrapper -->
            <!-- Start Progress-wrapper -->
            <div class="progress-wrapper">
              <label class="progress-bar-label">illustrator</label>
              <span class="progress-bar-number">93%</span>
              <!-- Start Progress -->
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <!-- End Progress -->
            </div>
            <div class="col-md-3"></div>
            <!-- End Progress-wrapper -->
          </div>
        </div>
        <!-- End row-->
        <!-- Start row-->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <img src="assets/img/devices.svg" alt="">
          </div>
          <div class="col-md-4">
            <!-- Start ul -->
            <ul class="resume-list">
              <li>Website design</li>
              <li>Mobile and Responsive websites</li>
              <li>Template/CMS based websites</li>
              <li>iOS and Android App</li>
              <li>development</li>
              <li>Branding</li>
              <li>Copywriting</li>
            </ul>
            <!-- End ul -->
          </div>
        </div>
        <!-- End row-->
      </div>
      <!-- End container-->
    </section>
    <!--End section  resume -->

    <!-- Start section  portfolio -->
    <section id="navportfolio" class="portfolio-section default-section">
      <!-- Start container-->
      <div class="container">
        <!-- Start row-->
        <div class="row">
          <div class="col-md-12">
            <img src="assets/img/portfolio.svg" class="section-img" alt="">
            <h2 class="section-title">Works</h2>
          </div>
        </div>
        <!-- End row-->
        <!-- Start row-->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">

            <!-- Start controls-->
            <div class="controls">
              <!-- Start filter inner-->
              <div class="filter-inner">
                <!-- Start filter btn-site group-->
                <div class="filter-btn-group">
                  <button class="filter" data-filter="all">All</button>
                  <button class="filter" data-filter=".web">Web</button>
                  <button class="filter" data-filter=".print">Print</button>
                  <button class="filter" data-filter=".app">App</button>
                </div>
                <!-- End filter btn group-->
              </div>
              <!-- End filter inner-->
            </div>
            <!-- End controls-->

            <!-- Start popup gallery-->
            <div id="container-portfolio" class="popup-gallery grid clear">
              <!-- Start mix-->
              <div class="mix web">
                <!-- Start popup content-->
                <a class="popup-content popup port-item-cont" title="work1" desc="description1" href="assets/img/portfolio/airplane.jpg">
                  <img src="assets/img/portfolio/airplane.jpg" alt="">
                  <div class="hover-content">Airplane</div>
                </a>
                <!-- End popup content-->
              </div>
              <!-- End mix-->
              
              <!-- Start mix-->
              <div class="mix print">
                <!-- Start popup content-->
                <a class="popup-content  popup port-item-cont" title="work2" desc="description2" href="assets/img/portfolio/bottle.jpg">
                  <img src="assets/img/portfolio/bottle.jpg" alt="">
                  <div class="hover-content">Bottle</div>
                </a>
                <!-- End popup content-->
              </div>
              <!-- End mix-->
              
              <!-- Start mix-->
              <div class="mix app">
                <!-- Start popup content-->
                <a class="popup-content  popup port-item-cont" title="work3" desc="You may put any HTML content in each gallery item and mix content types. In this example lazy-loading of images is enabled for the next image based on move direction. " href="assets/img/portfolio/chair.jpg">
                  <img src="assets/img/portfolio/chair.jpg" alt="">
                  <div class="hover-content">Chair</div>
                </a>
                <!-- End popup content-->
              </div>
              <!-- End mix-->

            </div>
          </div>
          <!-- End popup gallery-->
          <div class="col-md-12">
            <a href="portfolio.html" class="btn-site">Show more</a>
          </div>
        </div>
        <!-- End row-->
      </div>
      <!-- End container-->
    </section>
    <!-- End section portfolio -->

    <!-- Start Section Blog -->
    <section id="navblog" class="blog-section default-section">
      <!-- Start container-->
      <div class="container">

        <!-- Start row-->
        <div class="row">
          <img src="assets/img/blog.svg" class="section-img" alt="">
          <h2 class="section-title">Blog</h2>
        </div>
        <!-- End row-->

        <!-- Start row-->
        <div class="row blog-lists">
          <div class="col-md-2"></div>

          <div class="col-md-4 blog-list">
            <div class="blog-tags">
              <a href="">#photo</a>
              <a href="">#object</a>
              <a href="">#clock</a>
            </div>

            <h3 class="blog-title"><a href="blog-post.html">Standart post with image</a></h3>

            <a href="blog-post.html" class="blog-img"><img src="assets/img/post-1.jpg" alt=""></a>

            <div class="blog-info">
              <div class="blog-info-left">
                <p class="blog-date">19/06/2016 </p>
              </div>
              <div class="blog-info-right">
                <p class="blog-author">by
                  <a href="">Nick Edwin </a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 blog-list">
            <div class="blog-tags">
              <a href="">#photo</a>
              <a href="">#object</a>
              <a href="">#clock</a>
            </div>

            <h3 class="blog-title"><a href="blog-post.html">Standart post with image</a></h3>

            <a href="blog-post.html" class="blog-img"><img src="assets/img/post-2.png" alt=""></a>

            <div class="blog-info">
              <div class="blog-info-left">
                <p class="blog-date">19/06/2016 </p>
              </div>
              <div class="blog-info-right">
                <p class="blog-author">by
                  <a href="">Nick Edwin </a>
                </p>
              </div>
            </div>
          </div>

        </div>
        <!-- End row-->

        <!-- Start row-->
        <div class="row">
          <div class="col-md-12 text-center">
            <a href="blog.html" class="btn-site">All Posts</a>
          </div>
        </div>
        <!-- End row-->

      </div>
      <!-- End container-->

    </section>
    <!-- End Section Blog -->

    <!-- Start Section Contact -->
    <section id="navcontact" class="contact-section default-section">
      <!-- Start container-->
      <div class="container">

        <!-- Start row-->
        <div class="row">
          <img src="assets/img/contacts.svg" class="section-img" alt="">
          <h2 class="section-title">Contacts</h2>
        </div>
        <!-- End row-->

        <!-- Start row-->
        <div class="row">
          <div class="col-md-2"></div>

          <div class="col-md-4">

            <!-- Start about info-->
            <p class="contact-info">E-mail <span>info@yourdomain.com</span></p>
            <!-- End about info-->

            <!-- Start about info-->
            <p class="contact-info">Address <span>144 King St, Melbourne VIC</span></p>
            <!-- End about info-->

            <!-- Start about info-->
            <p class="contact-info">Phone <span>012-3456-7890</span></p>
            <!-- End about info-->

            <!-- Start about info-->
            <p class="contact-info">Website <span>ukieweb.com</span></p>
            <!-- End about info-->

            <!-- Start social icon-->
            <div class="social-icons">
              <a href="" class="social-item"><i class="uf uf-facebook"></i></a>
              <a href="" class="social-item"><i class="uf uf-twitter"></i></a>
              <a href="" class="social-item"><i class="uf uf-google-plus"></i></a>
              <a href="" class="social-item"><i class="uf uf-instagram"></i></a>
              <a href="" class="social-item"><i class="uf uf-dribbble"></i></a>
            </div>
            <!-- End social icon-->

          </div>

          <div class="col-md-4">

            <!-- Start Form-->
            <form action="./" method="post">
              <input type="text" name="name" class="input-text" placeholder="Name">
              <input type="text" name="email" class="input-text" placeholder="Email">
              <input type="text" name="subject" class="input-text" placeholder="Subject">
              <textarea name="message" class="input-textarea" placeholder="Message"></textarea>
              <input type="submit" class="btn-site btn-submit" value="Send Message">
            </form>
            <!-- End Form-->

          </div>

        </div>
        <!-- End row-->

      </div>
      <!-- End container-->

      <!-- Start Copyright -->
      <div class="copyright"><i class="uf uf-copyright"></i>{{site.data.resume.copyright}}</div>
      <!-- End Copyright -->

    </section>
    <!-- End Section Contact -->

    <!-- Scroll to Top -->
    <a href="#navhead" class="scroll-to-top"><i class="uf uf-arrow-up"></i></a>
    <!-- End Scroll to Top -->


    <script data-main="assets/js/script.js"  src="//cdn.bootcss.com/require.js/2.3.0/require.min.js"></script>
    

  </body>

</html>